In [1]:
import pandas as pd
import numpy as np

Series

In [2]:
mydata = ['Boat', 'Car', 'Bike', 'Truck']
myseries1 = pd.Series(mydata)

In [3]:
print(myseries1)

0     Boat
1      Car
2     Bike
3    Truck
dtype: object

In [4]:
mydata = [1, 55, 99, 43]
myseries2 = pd.Series(mydata)
print(myseries2)

0     1
1    55
2    99
3    43
dtype: int64

## DataFrame

In [6]:
mydfdata = [('Bota', 1), ('Car', 55), ('Bike',99), ('Truck', 43)]
mydf = pd.DataFrame(mydfdata, columns=['thing', 'count'])
mydf

   thing  count
0   Bota      1
1    Car     55
2   Bike     99
3  Truck     43

In [7]:
mydf['thing']

0     Bota
1      Car
2     Bike
3    Truck
Name: thing, dtype: object

In [8]:
mydf['count']

0     1
1    55
2    99
3    43
Name: count, dtype: int64

In [10]:
mydf.dtypes

thing    object
count     int64
dtype: object

# Reading in Date

In [ ]:
df = pd.read_csv('')